.login-form-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    min-width: 400px;

    border-radius: 6px;
    padding: 30px;
    box-shadow: 2px 10px 36px -14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 10px 36px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 36px -14px rgba(0, 0, 0, 0.75);

    h1 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }

    input,
    label {
      display: block;
      width: 100%;
    }

    .form-group {
      margin-bottom: 20px;

      label {
        font-weight: 500;
        margin-bottom: 6px;
      }

      input {
        border: 2px solid #ccc;
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 14px;
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 6px 12px;
      outline: none;
      border: none;
      border-radius: 4px;

      background-color: black;
      color: white;

      font-weight: 700;
      font-size: 14px;
      cursor: pointer;

      margin-bottom: 10px;
    }

    p {
      text-align: center;
      font-size: 14px;

      a {
        color: rgb(0, 125, 241);
      }
    }
  }
}
